* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

a {
    text-decoration: none;
}

body {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: center;
}

header,
footer {
    background-color: #1F2937;
}

.header-container {
    margin-top: 10px;
    width: 1200px;
    max-width: 100%;
}

nav {
    display: flex;
    gap: 18px;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    flex: 1 1 0;
}

.header-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-right {
    min-width: 0;
}

.header-image {
    width: 100%;
    height: auto;
}

header h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

header .signup-button {
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 90px;
    height: 24px;
    border-radius: 6px;
    border-style: none;
    margin-top: auto;
}

footer .signup-button {

}

.content {
    
}

article {

}

section {

}

.primary {
    background-color: #F9FAF8;
}

.primary h2 {

}

.secondary {
    
}

footer {

}